.formInput{
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.6);
    width: 500px;
    backdrop-filter: blur(15px);
    padding: 10px;
    border-radius: 20px;
    transition: width 500ms ease;
    color: rgb(65, 63, 63);
    margin-bottom: 20px;
}
h2{
    color: #fff;
    font-size: 30px;
}

input{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    font-size: 15px;
    text-align: center;
}
select{
    padding: 8px;
    border: none;
    background: transparent;
    color: rgb(255, 145, 0);
    outline: none;
}
.red{
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: rgb(255, 0, 0);
}
.red-border{
    border-bottom: 2px solid rgb(255, 0, 0);
}
Button{
    padding: 8px;
    color: #fff;
    background: rgb(62, 250, 62);
    border: none;
    border-radius: 10px;
    margin-bottom: 4px;
}