.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgb(87, 243, 204) 0% , rgb(106, 243, 129) 100%);
  font-family: 'Roboto', sans-serif;
}

